<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Montserrat|Quicksand&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>Weather and News </title>
  </head>
  <body>

    <div class="container mt-5">
<img src= "https://www.farmersalmanac.com/wp-content/uploads/2020/02/Different-Weather-Types-1024x379.jpeg" >
</div>    
<div class="container mt-5">
    
    <h1>Weather in <%= @city.capitalize %> and Top US News  </h1>
    

    </div>

    <div class="container mt-5">
    <h3> Current Forecast </h3>
    <p><strong> Right now it is <%= @current_temperature %> degrees Fahrenheit with <%= @conditions.downcase %> in <%= @city.capitalize %>.</strong><p>
    </div>
    
      
  <div class="container mt-5">
    <h3> Forecast for Next Week in <%= @city.capitalize %> </h3>
<!--  <% for day in @forecast["daily"]["data"] %>-->
<!--    <p> The high temperature will be <%=day["temperatureHigh"]%> degrees. The low temperature will be <%=day["temperatureLow"]%> degrees. There will be <%=day["summary"].downcase%> </p> -->
<!--    <%end%>-->
    </div>
    
    <div class="container">
        <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <!-- <th scope="col"></th> -->
                <th scope="col" class=text-center>High Temperature (F) </th>
                <th scope="col" class=text-center>Low Temperature (F)</th>
                <th scope="col" class=text-center>Conditions</th>
              </tr>
            </thead>
            <% for day in @day_of_week %>
            <tbody>
              <tr>
                <!-- <th scope="row">1</th> -->
                <td class= text-center> <%= @future_temp[day]%> </td class= text-center>
                <td class= text-center><%= @future_low_temp[day]%></td>
                <td class= text-center><%= @future_condition[day]%> </td>
              </tr>
              </tbody>
                <%end%>
              </table>
              
   
    <div class = "container mt-5">
    <h3> Top US News Headlines </h3>
   
    <% for story in @news["articles"] %>
     <div class="card border-dark bg-light mb-3">
  <div class="card-body">
    <h7> <%= story["title"] %> </h7>
    <p> <a href= <%= story["url"] %>>Link to story</a> </p>
</div>
    </div>
    <%end%>
    </div>
    



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>